@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2|Josefin+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Baloo Paaji 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

